body {
    padding-top: 30px;
}
.activeTab {
    background-color: #e7e7e7;
}
.bold {
    font-weight: 600;
}
.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}